html {
    overflow: hidden;
}

body {
    background-color: var(--roxo-principal);
}

header {
    padding: 0 50px !important;
}

.kpis {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.kpis .area-kpi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.area-kpi h3 {
    font-family: var(--fonte-principal);
    font-size: 22px;
    text-align: center;
    color: var(--branco-principal);
}

.kpis .kpi {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 100px;
    background-color: var(--branco-principal);
    font-family: var(--fonte-principal);
    color: var(--preto);
    font-size: 26px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: var(--sombra-padrao);
}

.graficos {
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 50px;
    padding: 30px 70px;
}

.graficos .grafico {
    width: 50%;
    height: 580px;
}

.grafico h2 {
    font-family: var(--fonte-principal);
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    color: var(--branco-principal);
}

.grafico canvas {
    height: 100% !important;
    width: 100%;
    border-radius: 10px;
    background-color: var(--branco-principal);
}