:root {
    --verde-claro: #58D68D;
    --verde-escuro: #145A32;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--verde-claro);
    width: 100vw;
    height: 100vh;
}

.imagem img {
    width: 700px;
    height: 640px;
    margin-bottom: 100px;
    align-self: center;
}

.formulario {
    background-color: var(--verde-escuro);
    display: flex;
    padding-bottom: 0;
    padding-right: 0;
}

.formulario_entrada {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario .input, .formulario .saidas {
    margin-right: 70px;
    margin-bottom: 50px;
}

.imagem_formulario {
    align-self: flex-end;
}

.formulario .descricoes {
    display: flex;
    gap: 30px;
    height: 20%;
    margin-bottom: 30px;
}

.descricao h2 {
    font-size: 24px;
    font-weight: bold;
    font-family: var(--fonte-principal);
    color: var(--branco-principal);
    margin-bottom: 15px;
}

.descricao .barra {
    height: 10px;
    width: 110px;
    background-color: var(--branco-principal);
    border-radius: 5px;
}

.respostas {
    max-height: 283px;
    overflow-y: auto;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
}

.respostas .resposta {
    display: flex;
    gap: 30px;
}

.resposta .quadrado {
    width: 110px;
    height: 110px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.quadrado h3 {
    font-family: var(--fonte-principal);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    word-break: break-word;
    overflow-wrap: break-word;
}

.imagem_pokemon {
    background-color: #fff;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.errado {
    background-color: #ff0033;
}

.correto {
    background-color: var(--verde-claro);
}

.parcial {
    background-color: #FFD700;
}

.menor {
    background-image: url("../assets/imgs/quiz/menor.svg");
    background-color: #ff0033;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.maior {
    background-image: url("../assets/imgs/quiz/maior.svg");
    background-color: #ff0033;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.modal_resultado {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 15%;
    left: 37%;
    width: 450px;
    height: 600px;
    background-color: #fff;
    z-index: 1000000000;
    border-radius: 20px;
    padding: 30px 0;
    box-shadow: 0 4px 4px 0 var(--sombra-padrao);
}

.modal_resultado h2 {
    font-family: var(--fonte-principal);
    font-size: 32px;
}

.modal_resultado .imagem_pokemon {
    width: 210px;
    height: 210px;
    margin-bottom: 50px;
}

.modal_resultado p {
    font-family: var(--fonte-principal);
    font-size: 20px;
}

.modal_resultado button {
    background-color: var(--verde-escuro);
    width: 150px;
    height: 60px;
    border-radius: 10px;
    color: var(--branco-principal);
    font-weight: bold;
    font-size: 26px;
}

.imagem-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem-sair {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.logout {
    margin: 20px 10%;
    cursor: pointer;
}